<!DOCTYPE html>
<html>
  <head>
    <title>GoalsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <% if @user %>
    <% if User.find_by(id: @user.id) %>
      DELETE FOREVER
      <br><br>
      <%= @user.username %>
      <form action="<%= user_url %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <input type="submit" name="" value="DESTROY HIM">
      </form>
    <% end %>

    <% else %>
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <br>
        Username:
        <input type="text" name="user[username]" value="">
        <br>
        Password:
        <input type="text" name="user[password]" value="">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <input type="submit" name="" value="Login">
      </form>
  <% end %>
</html>
